/* last content div padding bottom */
body{
    color: black;
    background-color: aqua;
    background-image: url("/images/prova.png");
    /*background-position-x: right;*/
    /*background-position-y: bottom;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    font-family:'Inconsolata', monospace;
}

p{
    color: initial;
}

h1 h2 h3 h4 h5 h6  {
    font-weight: unset ;
}
header {

    /*background-image: url("/images/prova.png")*/
    background-image: url("/images/Bansky.png"),
                      linear-gradient(lightyellow, yellow);
    background-clip: padding-box;
    margin: 60px;
    border: dotted 5px red;
    border-radius: 50%;
    padding: 100px;
    width: 500px;
    height: 500px;
    border-image: linear-gradient(red, blue);
    border-image-repeat:  space;

    /*background: no-repeat 30px bottom/20% url("/images/Bansky.png"), no-reapet linear-gradient(lightyellow, yellow);*/

}

abbr {
    text-decoration: initial;
}