/* last content div padding bottom */


body{
    /*color: black;
    background-color: aqua;
    background-image: url("/images/prova.png");
    /*background-position-x: right;*/
    /*background-position-y: bottom;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;
    font-family:'Inconsolata', monospace;
    background-image: url("images/studio.jpeg");
    background-size: cover;
    background-position: center ;    
    */

    margin: unset;
    padding: 200px;
}

p.footer{
    padding-left: 20px;
    padding-right: 20px;
}

/*
p::first-letter{
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}*/

h1 h2 h3 h4 h5 h6  {
    font-size: 30px;
    font-family: 'Indie Flower',cursive;
    color: dimgray;
}
section.intro header>h1{
    font-size: 70px;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(gray, sandybrown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



div.page-wrapper{
    background: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
}

